body {
    background-image: url("https://static1.squarespace.com/static/51f2b480e4b0b47d998b1023/5212e8f4e4b0dc0738665aa2/5216c3c1e4b069b8151d3d6c/1377223619278/bearbunsbakery-sandiego-9.jpg?format=1500w");
    background-size: cover;
    background-repeat: no-repeat;
  }
